.body_background 
{
    background-image: url("https://wallpaperaccess.com/full/804277.jpg");
    background-position: center;
    background-size: cover;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style: groove;
}
#myCanvas1
{
    border-width:10px;
    background-color: white; 
    border-style: groove;
    border-radius: 100%;
}
label
{
    color: crimson;
}