#MyCanvas
{
    border-style: ridge;
    background-color: white;
    border-width: 5px;
}
.body_background
{
    background-image: url("avenger_bg.jpg");
}
#WH
{
    text-align: center;
    color: blue;
    background-color: tomato;
    border-radius: 10px;
    width: 350px;
    height: 30px;
    font-size: 20px;
}
#title
{
    width: 500;
    height: 30;
    background-color: blue;
    font-size: 20px;
    border-radius: 10px;
}