#MyCanvas
{
    border-style: ridge;
    background-color: white;
    border-width: 5px;
}
.body_background
{
    background-image: url("avenger_bg.jpg");
}
#WH
{
    text-align: center;
    color: blue;
    background-color: tomato;
    border-radius: 50px;
    width: 350px;
    height: 50px;
    font-size: 25px;
}